/* * {
    margin: 0;
    padding: 0;
} */
body {
    width: 100.053vw;
    height: 265.733vw;
    background-color: rgba(250, 250, 250);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}